<form action="/index" method="get">
    <button type="submit">Index</button>
</form>
<form action="/songs" method="get">
    <button type="submit">Lista de músicas</button>
</form>
<form action="/new-song" method="get">
  <button type="submit">Adicionar Músicas</button>
</form>
<form action="/price" method="get">
  <button type="submit">Gerir preço por Like</button>
</form>