<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>PSIFY</title>
</head>
<body>

    <header>
        <%- include('partials/header') %> 
    </header>
    <h1> Bem-Vindo à página inicial </h1>
    
    <p> Esta é a página inicial da aplicação PSIFY.</p>
    <p> Utilize o menu acima para navegar pelas diferentes funcionalidades da aplicação</p>
    <p> Obter uma música</p>

    <form id="id-musica">
        <label for="id"> ID da música: </label>
        <input type="id" name="idc" id="id">
        <button type="submit"> Obter </button>
    </form>
</body>
</html>