<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSIFY</title>
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <h1> Editar preço por like:</h1>

    <form id="pricelike">
        <label for="likes"> Número de Likes: </label>
        <input type="text" name="likes" id="likes" value="<%= price %>">
        <button type="submit"> Atualizar preço </button>
    </form>
</body>
</html>