<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSIFY</title>
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <h1> Listagem de músicas disponíveis</h1>
    <br><br>

    <table>
        <tr>
            ID
        </tr>
    </table>
</body>
</html>